#editor-container {
    display: flex;
  }
  #editor {
    flex: 1;
    height: 400px;
  }
  #output {
    flex: 1;
    height: 400px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 20px;
    white-space: pre-wrap;
    display: none;
  }
  #iframe-output {
    flex: 1;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 20px;
    display: block;
  }
  #language,
  #run-button {
    margin-top: 10px;
  }