body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}
/* --- PALETA --- */
.palette {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#clear {
    width: 100%;
    padding: 15px;
    font-size: 18px;
}
.colors {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 5px;
}
.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
/* Colores */#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#lime {
    background-color: lime;
}

#green {
    background-color: green;
}

#aqua {
    background-color: aqua;
}

#sky {
    background-color: skyblue;
}

#blue {
    background-color: blue;
}

#navy {
    background-color: navy;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}

#lightpink {
    background-color: lightpink;
}

#grey {
    background-color: grey;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}
/* --- TABLERO --- */
.board {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    width: 800px;
    height: 800px;
    border: 5px solid greenyellow;
    background: darkorchid;
}
.pixel {
    border: 2px solid #e0e0e0;
    background: white;
}