body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: pink;
}


form {
    margin-bottom: 20px;
    background-color: darksalmon;
}


#taskInput {
    padding: 8px;
    font-size: 16px;
    
}


button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}


.listTasks {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 50px;
    background-color: coral;
}